section.profile
  h1 プロフィール
  aside.jinrou-fest-banner
    div.jinrou-fest-banner-content
      h2 宣伝
      p
        button.jinrou-fest-close-button
          i.fa.fa-times(title="閉じる")
      p
        | 月下人狼は
        a(
          href="https://jinrohbunkasai.wixsite.com/2019",
          onclick="'undefined' !== typeof gtag && gtag('event', 'click-external-link', {'event_label': 'jinrohbunkasai-2019', transport: 'beacon'})"
        ) 人狼文化祭2019
        | を応援しています。人狼文化祭2019は5月3日と4日に大阪で開催されます。
  div#alert
    if ban.ban
      p アクセス制限により一部の行動が制限されています。
      if ban.reason
        p
          | 理由：
          b= ban.reason
  form#changeprofile(action="/")
    fieldset
      h2 ユーザーID
      p.userid=userid
      h2
        | 名前
        i.far.fa-question-circle(data-helpicon, title="ゲームの参加時に表示される名前です。")
      p.edit(data-pname="name",data-type="text",data-maxlength="20",data-required="required")=name
      h2
        | コメント
        i.far.fa-question-circle(data-helpicon, title="自分のプロフィール画面に表示されます。")
      p.edit(data-pname="comment",data-type="text",data-maxlength="100")=comment
      h2 メールアドレス
      p.edit(data-pname="mail",data-type="text",data-maxlength="50")=mail.address
      if mail.new
        p
          | 変更中 (
          = mail.new
          | )
          i.far.fa-question-circle(data-helpicon, title="メールアドレスの登録・変更を完了するには、送信されたメールの指示に従ってください。")
      else if !mail.address
        p
          | 未登録
          i.far.fa-question-circle(data-helpicon, title="メールアドレスを登録すると、パスワードを忘れたときに再設定できます。メールアドレスは他の用途には使用されません。")
      else if mail.verified
        p 確認済
      else
        p
          | 未確認
          i.far.fa-question-circle(data-helpicon, title="入力されたメールアドレスの登録を完了するには、送信されたメールの指示に従ってください。")
      h2 アイコン
      p
        input(type="hidden",name="icon",value="")
        img#myicon(width="48",height="48",alt="アイコン")
        input(type="button",value="アイコン選択",name="twittericonbutton")
      hr
      p
        input(type="submit",value="変更を保存",title="名前・コメント・アイコン·メールアドレス を変更したら保存ボタンで反映してください。")
        = "｜"
        input(type="button",name="colorsettingbutton",value="色設定")
  fieldset
    h2 セキュリティ設定
    form
      p
        label
          | パスワード・メールアドレスをロック
          input(type="checkbox",name="mailconfirmsecurity", value="on", checked=mailconfirmsecurity)
        i.far.fa-question-circle(data-helpicon, title="このオプションがONの間、パスワード・メールアドレスを変更できません。このオプションを解除するには登録メールアドレスの確認が必要です。")
      p
        input#mailconfirmsecuritybutton(type="button",value="変更を保存")
  fieldset
    p
      input#changepasswordbutton(type="button",name="changepasswordbutton",value="パスワードを変更")
    form#changepassword(hidden)
      h3 パスワード変更
      p: label
        | 新しいパスワード
        input(name="newpass",type="password",size="20",required,autocomplete="new-password")
      p: label
        | 再入力
        input(name="newpass2",type="password",size="20",required,autocomplete="new-password")
      p: label
        | 現在のパスワード
        input(name="password",type="password",size="20",required,autocomplete="current-password")
      p: input(type="submit",value="変更")
  h1 お知らせ
  table.newstable
    thead
      tr
        th 日付
        th 内容
    tbody#newslist

  #rooms-app.whole-page
  fieldset
    h2 戦績
    p
      a(href="/my/log") 戦績を見る

  fieldset
    h2 称号
    p 入室時に名前の前に表示する肩書きを、獲得した称号を組み合わせて設定できます。
    p
      a(href="/my/prize") 称号一覧を見る・肩書きを編集する
    p
      | 称号獲得数:
      span#prizenumber 0
    p#current-prize
  p
    a(href="/logout") ログアウト
  p.bottom-fest-link
    | 月下人狼は
    a(
      href="https://jinrohbunkasai.wixsite.com/2019",
      onclick="'undefined' !== typeof gtag && gtag('event', 'click-external-link', {'event_label': 'jinrohbunkasai-2019', transport: 'beacon'})"
    ) 人狼文化祭2019
    | を応援しています。人狼文化祭2019は5月3日と4日に大阪で開催されます。
