section.profile
  h1 プロフィール
  form#changeprofile(action="/")
    h2 ユーザーID
    p.userid=userid
    h2 名前
    p 表示される名前。
    p.edit(data-pname="name",data-type="text",data-maxlength="20",data-required="required")=name
    h2 コメント
    p.edit(data-pname="comment",data-type="text",data-maxlength="100")=comment
    h2 メールアドレス
    p.edit(data-pname="mail",data-type="text",data-maxlength="50")=mail.address
    if mail.new
      p
        | 変更中 (
        = mail.new
        | )
        i.fa.fa-question-circle-o(data-helpicon, title="メールアドレスの登録・変更を完了するには、送信されたメールの指示に従ってください。")
    else if !mail.address
      p
        | 未登録
        i.fa.fa-question-circle-o(data-helpicon, title="メールアドレスを登録すると、パスワードを忘れたときに再設定できます。メールアドレスは他の用途には使用されません。")
    else if mail.verified
      p 確認済
    else
      p
        | 未確認
        i.fa.fa-question-circle-o(data-helpicon, title="入力されたメールアドレスの登録を完了するには、送信されたメールの指示に従ってください。")
    h2 アイコン
    p
      input(type="hidden",name="icon",value="")
      img#myicon(width="48",height="48",alt="アイコン")
      input(type="button",value="アイコン選択",name="twittericonbutton")
    p
      input(type="submit",value="変更を保存",title="名前・コメント・アイコン·メールアドレス を変更したら保存ボタンで反映して下さい")
      input(type="button",name="colorsettingbutton",value="色設定")
  h2 セキュリティ設定
  form
    p
      label
        | パスワード・メールアドレスをロック
        input(type="checkbox",name="mailconfirmsecurity", value="on", checked=mailconfirmsecurity)
      i.fa.fa-question-circle-o(data-helpicon, title="このオプションがONの間、パスワード・メールアドレスを変更できません。このオプションを解除するには登録メールアドレスの確認が必要です。")
    p
      input#mailconfirmsecuritybutton(type="button",value="変更を保存")
  hr
  p
    input#changepasswordbutton(type="button",name="changepasswordbutton",value="パスワードを変更")
  form#changepassword(hidden)
    h3 パスワード変更
    p: label
      | 新しいパスワード
      input(name="newpass",type="password",size="20",required)
    p: label
      | 再入力
      input(name="newpass2",type="password",size="20",required)
    p: label
      | 現在のパスワード
      input(name="password",type="password",size="20",required)
    p: input(type="submit",value="変更")
  h1 お知らせ
  table.newstable
    thead
      tr
        th 日付
        th 内容
    tbody#newslist
    
  h1 ルーム
  table.roomstable
    thead
      tr
        th ルーム名
        th 状態
        th オーナー
        th 最大人数
        th 日時
        th コメント
    tbody#roomlist
  h1 対戦成績
  p: a(href="/rooms/my") 自分が参加した部屋
  form#morescore
    input(type="hidden",name="open",value="false")
    p: input(type="submit",name="submit",value="詳細情報を見る")
  #grapharea
  section
    h1 称号
    p 入室時に名前の前に表示する肩書きを、獲得した称号を組み合わせて設定できます。
    p 
      | 称号獲得数:
      span#prizenumber 0
    #pdragzone
      #prizes
      ul#conjunctions
    ul#prizeedit
    form#prizearea
      p
        input(type="submit",value="OK")
