section.profile
  h1 プロフィール
  form#changeprofile(action="/")
    h2 ユーザーID
    p.userid=userid
    h2 名前
    p 表示される名前。
    p.edit(data-pname="name",data-type="text",data-maxlength="20",data-required="required")=name
    h2 コメント
    p.edit(data-pname="comment",data-type="text",data-maxlength="100")=comment
    h2 アイコン
    p (変更後は下の変更ボタンで確定して下さい)
    p
      input(type="hidden",name="icon",value="")
      img#myicon(width="48",height="48",alt="アイコン")
      input(type="button",value="アイコン選択",name="twittericonbutton")
    p
      input(type="submit",value="変更")
      input(type="button",name="changepasswordbutton",value="パスワードを変更")
  form#changepassword(hidden)
    h2 パスワード変更
    p: label
      | 新しいパスワード
      input(name="newpass",type="password",size="20",required)
    p: label
      | 再入力
      input(name="newpass2",type="password",size="20",required)
    p: label
      | 現在のパスワード
      input(name="password",type="password",size="20",required)
    p: input(type="submit",value="変更")
  h1 お知らせ
  table.newstable
    thead
      tr
        th 日付
        th 内容
    tbody#newslist
    
  h1 ルーム
  table.roomstable
    thead
      tr
        th ルーム名
        th 状態
        th オーナー
        th 最大人数
        th 日時
        th コメント
    tbody#roomlist
  h1 対戦成績
  p 勝ち #{ typeof(win)!=="undefined" ? win.length : 0}回　負け #{typeof(lose)!=="undefined" ? lose.length : 0}回　突然死 #{typeof(gone)!=="undefined" ? gone.length : 0}回
  p 勝率: #{typeof(wp)!=="undefined" ? wp : ""}
  p: a(href="/rooms/my") 自分が参加した部屋
  form#morescore: p: input(type="submit",name="submit",value="詳細情報を見る",disabled)
  #grapharea
  section
    h1 称号
    p 入室時に名前の前に表示する肩書きを、獲得した称号を組み合わせて設定できます。
    #pdragzone
      ul#prizes
      ul#conjunctions
    ul#prizeedit
    form#prizearea
      p
        input(type="submit",value="OK")
